@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background: rgb(245, 242, 242);
}
* {
  width: 90%;
  margin: auto;
  font-family: "Helvetica Neue", sans-serif;
}
a {
  color: #337ab7;
}
section {
  padding: 10px 0;
}
.about-area {
  padding: 5px;
}
.about-area h1,
h2,
h3 {
  text-align: center;
  padding: 5px;
}
h1 {
  font-size: 35px;
}

.image-area {
  padding: 5px 0;
  text-align: center;
}
.image-area img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 340px;
  height: 340px;
}

.image-area p {
  background: rgb(224, 219, 219);
  padding: 10px 20px;
  width: 35%;
}
.content-area h2 {
  display: flex;
  font-size: 30px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.content-area p {
  text-align: center;
  padding: 10px 0;
}
.content-area li {
  font-size: 15px;
  line-height: 22px;
  text-align: justify;
  text-justify: auto;
  list-style-position: ;
}
footer p {
  font-size: 12px;
  padding: 20px 0 20px 0;
  width: 100%;
}
